# Python Data Structures and Boolean
1. Boolean
2. Boolean and Logical Operators
3. Lists
4. Comparison operators
5. Dictionaries
6. Tuples
7. Sets

## Boolean Variables

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
print(True,False)

True False

In [2]:
type(True)

bool

In [3]:
type(False)

bool

In [6]:
my_str= "Xyz@123"

In [7]:
my_str.istitle()

True

In [8]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

False
False
False
True
False
False
False
False
False

# Boolean and Logical Operators

In [9]:
True and True

True

In [10]:
True and False

False

In [11]:
False and True

False

In [12]:
False and False

False

In [13]:
str_example='Hello World'
my_str='Alina'

In [14]:
my_str.isalpha() or str_example.isnum()

True

# Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [15]:
type([])

list

In [16]:
lst_example=[]

In [17]:
type(lst_example)

list

In [18]:
lst=list()

In [19]:
type(lst)

list

In [20]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [21]:
len(lst)

6

In [22]:
type(lst)

list

## Append

In [23]:
#.append is used to add elements in the list
lst.append("Alina")

In [24]:
lst.append(["Aaru","Cutee"])

In [25]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Alina', ['Aaru', 'Cutee']]

In [26]:
##Indexing in List
lst[6]

'Alina'

In [27]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

## Insert

In [28]:
## insert in a specific order

lst.insert(2,"Naik")
lst

['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Alina',
 ['Aaru', 'Cutee']]

In [29]:
lst.append(["Hello","World"])

In [30]:
lst

['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Alina',
 ['Aaru', 'Cutee'],
 ['Hello', 'World']]

# Extend Method

In [32]:
lst_1=[1,2,3,4,5,6]

In [33]:
lst_1.extend([7,8,9])

In [34]:
lst_1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Various Operations that we can perform in List

In [38]:
lst_2=[1,2,3,1,2,3]

In [39]:
sum(lst_2)

12

In [41]:
 lst_2*4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

## Pop() Method

In [42]:
lst_2.pop()

3

In [43]:
lst_2

[1, 2, 3, 1, 2]

In [44]:
lst_2.pop(0)

1

# count():Calculates total occurrence of given element of List

In [36]:
lst_2= [1,2,3,1,2,3]
lst_2.count(1)

2

In [45]:
lst_2

[2, 3, 1, 2]

In [37]:
#length:Calculates total length of List
len(lst_2)

6

In [46]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst_2.index(1,1,4)

2

In [47]:
max(lst_2)

3

In [48]:
min(lst_2)

1

# SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [49]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [50]:
set_var={1,2,3,4,3}
set_var

{1, 2, 3, 4}

In [51]:
## Inbuilt function in sets
set_var.add("Alina")

In [52]:
print(set_var)

{1, 2, 3, 4, 'Alina'}

In [55]:
set1={"Alina","Bob","Sonny","Dimond","Spyder","Pycharm"}
set2={"Alina","Bob","Sonny","Dimond"}

In [56]:
## Difference
set1.difference(set2)

{'Pycharm', 'Spyder'}

In [57]:
set1

{'Alina', 'Bob', 'Dimond', 'Pycharm', 'Sonny', 'Spyder'}

In [58]:
##Difference Update
set1.difference_update(set2)

In [59]:
print(set1)

{'Pycharm', 'Spyder'}

In [60]:
set1

{'Pycharm', 'Spyder'}

In [61]:
set2

{'Alina', 'Bob', 'Dimond', 'Sonny'}

In [66]:
set1.add("Bob")

In [67]:
set1

{'Bob'}

In [68]:
set1.intersection_update(set2)

In [69]:
set1.intersection(set2)

{'Bob'}

In [70]:
set1.union(set2)

{'Alina', 'Bob', 'Dimond', 'Sonny'}

# Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [71]:
dic={}
type(dic)

dict

In [72]:
type(dict())

dict

In [73]:
set_ex={1,2,3,4,5}

In [74]:
type(set_ex)

set

In [75]:
## Let create a dictionary
my_dict={"name":"Alina","Roll_No.":"25","Std":"10th"}

In [76]:
type(my_dict)

dict

In [77]:
##Access the item values based on keys
my_dict["name"]

'Alina'

In [78]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

name
Roll_No.
Std

In [79]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Alina
25
10th

In [80]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('name', 'Alina')
('Roll_No.', '25')
('Std', '10th')

In [81]:
## Adding items in Dictionaries

my_dict['school']='XYZ'

In [82]:
my_dict

{'name': 'Alina', 'Roll_No.': '25', 'Std': '10th', 'school': 'XYZ'}

In [83]:
my_dict["name"]="Boby"

In [84]:
my_dict

{'name': 'Boby', 'Roll_No.': '25', 'Std': '10th', 'school': 'XYZ'}

# Tuple

In [85]:
## create an empty Tuples
my_tuple=tuple()

In [86]:
type(my_tuple)

tuple

In [87]:
my_tuple=()

In [88]:
type(my_tuple)

tuple

In [89]:
my_tuple=("Boby","Sunny","Cute")

my_tuple=('Hello','World')

print(type(my_tuple))

<class 'tuple'>

In [90]:
print(my_tuple)

('Hello', 'World')

In [91]:
type(my_tuple)

tuple

In [95]:
## Inbuilt function
my_tuple.count('Hello')

1

In [96]:
my_tuple.index("World")

1